<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sb.studybuddies"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="20" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow" >
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name" 
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!--  Entry for LoginScreen.class -->
        <activity
            android:name=".LoginScreen"
            android:label="Login to your Account" >
        </activity>
        
        <!--  Entry for RegisterScreen.class -->
        <activity
            android:name=".RegisterScreen"
            android:label="Register New Account" >
        </activity>
        
        <!--  Entry for MainActivity.class -->
        <activity
            android:name=".MainActivity"
            android:label="Main Screen" >
        </activity>
        
        
        <!-- Location found activity -->
        <activity
            android:name="com.sb.actionbar.CreateGroup"
            android:label="@string/action_new_event"
            android:parentActivityName=".MainActivity" >
        </activity>
        
        <!-- Search results activity -->
        <activity android:name="com.sb.actionbar.SearchResultsActivity"
            android:parentActivityName=".MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
 
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        
    </application>

</manifest>
